        <footer>
            {{ if .Site.Menus.icon }}
                <ul class="nav navbar-nav-center">
                    {{ range sort .Site.Menus.icon }}
                        <li class="navbar-icon"><a href="{{ .URL }}"><i class="fa fa-{{ .Name }}"></i></a></li>
                    {{ end }}
                </ul>
            {{ end }}
            <p class="copyright text-muted">{{ .Site.Params.copyright | default "&copy; 2020 Johnny Lee All rights reserved. " | markdownify }}</p>
        </footer>

        {{ partial "body-close" . }}

    </body>

</html>
